<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ajax.dao.IUserMapper">
	<insert id="signUp">
		insert into user(id, pw) value(#{id}, #{pw})
	</insert>
	
	<insert id="insertUser" parameterType="com.ajax.dto.User">
		insert into user values(#{userid}, #{password}, #{usernm}, #{regdt}, #{statuscd}, #{dropdt}, #{modifydt}, #{hphone}, #{email}, #{ceonm}, #{comp_name}, #{biznum}, #{cor_num}, #{comp_addr}, #{comp_tel}, #{approvaldt}, #{comp_fax}, #{ktcloudid})
	</insert>
	
	<select id="id_check" resultType="int" parameterType="String">
		select count(userid) from user where userid = #{userid}
	</select>
	
	<select id="ktIdCheck" resultType="int" parameterType="String">
		select count(ktcloudid) from user where ktcloudid = #{ktcloudid}
	</select>
	
	<select id="selectUser" resultType="int" parameterType="com.ajax.dto.User">
		select count(*) from user where userid=#{userid} and password=#{password}
	</select>

</mapper>