          <div class="col-lg-12 entries">
            <h4 class="animate__animated animate__fadeInDown" th:text="${bean.TITLE}">
              </h4>
              
            <article class="entry entry-single">
              <div class="entry-img">
                <img src="/images/hero-bgT.jpg" alt="" class="img-fluid">
              </div>
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> 관리자</li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="" th:text="${bean.REGDT}">2020-12-31</time></li>
                  <li class="d-flex align-items-center"><i class="icofont-signal"></i> 첨부파일 : <i th:if="${bean.containsKey('FILE_NAME')}"><a th:attr="href=|javascript:downloadFile('${bean.FILE_NAME}', '${bean.FILE_ORIGINAL_NAME}')|">[[${bean.FILE_ORIGINAL_NAME}]]</a></i></li>
                </ul>
              </div>
			  <hr/>
			  
              <div class="entry-content" th:utext="${bean.DOC_BODY_LONG}"></div>

              <div class="entry-footer clearfix">
                <div class="float-left">
                  <ul class="cats">
                    <li><a th:attr="href=|javascript:editArticle('${bean.BBS_NOTICEUID}')|"><img src="/images/be.png" width="13%" class="img-fluid" alt="">수정</a></li>
                  </ul>
                  <ul class="cats">
                    <li><a th:attr="href=|javascript:deleteArticle('${bean.BBS_NOTICEUID}')|"><img src="/images/be.png" width="13%" class="img-fluid" alt="">삭제</a></li>
                  </ul>
                </div>
              </div>
            </article><!-- End blog entry -->
            
		  </div>