<!DOCTYPE html>
<html lang="kr" th:with="TPMENU='05', TPSUB='02'" xmlns:layout="http://www.thymeleaf.org/" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>corn</title>
  <th:block th:include="/front/inc_head"></th:block>
  
  <link href="/assets/css/doc.css" rel="stylesheet">
</head>
<body>
<th:block th:include="/front/inc_topmenu"></th:block>

<!-- Start #main -->
<div id="main">
	<!-- ======= Board write ======= -->
	<section class="breadcrumbs">
       <h2>오시는 길</h2>
    </section>
    <!-- End Our Portfolio Section -->
    
    <section class="" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    	<div class="container">
      		<div class="row">
        		<div class="col-lg-12 entries">
       				<ul class="nav nav-tabs" id="myTab" role="tablist">
      					<li class="nav-item">
        					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">본사</a>
     	 				</li>
      					<li class="nav-item">
        					<a class="nav-link" id="home1-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="false">이천센터</a>
      					</li>
      					<li class="nav-item">
        					<a class="nav-link" id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="false">일죽센터</a>
      					</li>
    				</ul>
     				
     				<div class="tab-content" id="myTabContent">
     					<!-- 1. -->
     					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
     						<!-- 지도 -->
     						<div class="map-zone">
     					 		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4291.754454182139!2d127.12881550484569!3d37.41140752503941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b95de03104d476b!2zKOyjvCnsnbTslaTslKjsp4Dsl5jsl5DsiqQ!5e0!3m2!1sko!2skr!4v1606804718863!5m2!1sko!2skr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
     					 	</div>
     					 	<!-- 지도 설명 -->
							<div class="addr-info">
								<table>
									<colgroup>
										<col width="9%">
										<col width="*">
									</colgroup>

									<tbody>
										<tr>
											<th>주소</th>
											<td>경기도 성남시 분당구 성남대로 916번길 11 글라스타워 7층 (야탑동 366-4)</td>
										</tr>

										<tr>
											<th>TEL</th>
											<td>031-526-0035</td>
										</tr>

										<tr>
											<th>FAX</th>
											<td>031-526-0036</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- 2. -->
      					<div class="tab-pane fade" id="home1" role="tabpanel" aria-labelledby="home1-tab">
      						<!-- 지도 -->
      						<div class="map-zone">
      							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.9461407024564!2d127.57355431557998!3d37.15398015540399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3564a1601155df4f%3A0xbc604b86236f7d3d!2s66%20Gyeongchung-daero%20597beon-gil%2C%20Janghowon-eup%2C%20Icheon%2C%20Gyeonggi-do!5e0!3m2!1sen!2skr!4v1592374739954!5m2!1sen!2skr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      						</div>
							<!-- 지도 설명 -->
							<div class="addr-info">
								<table>
									<colgroup>
										<col width="9.16666666%">
										<col width="*">
									</colgroup>
									<tbody>
										<tr>
											<th>주소</th>
											<td>경기도 이천시 장호원읍 경충대로 597번길 66 (이황리 435-8)</td>
										</tr>

										<tr>
											<th>TEL</th>
											<td>031-8011-2355</td>
										</tr>
										<tr>
											<th>FAX</th>
											<td>031-8011-2353</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
      					
      					<!-- 3. -->
      					<div class="tab-pane fade" id="home2" role="tabpanel" aria-labelledby="home2-tab">
      						<!-- 지도 -->
      						<div class="map-zone">
      							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3181.2974649563744!2d127.43878281557939!3d37.1218374572272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3564b02486f4f62b%3A0x4ac715a3c3864a05!2s95-31%20Gomongnam-gil%2C%20Iljuk-myeon%2C%20Anseong%2C%20Gyeonggi-do!5e0!3m2!1sen!2skr!4v1592374766290!5m2!1sen!2skr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      						</div>
							<!-- 지도 설명 -->
							<div class="addr-info">
								<table style="padding-top: 5px;">
									<colgroup>
										<col width="10%">
										<col width="*">
									</colgroup>
									<tbody>
										<tr>
											<th>주소</th>
											<td>경기도 안성시 고목남길 95-31 (고은리 452-1)</td>
										</tr>

										<tr>
											<th>TEL</th>
											<td>070-4610-1169</td>
										</tr>

										<tr>
											<th>FAX</th>
											<td>031-526-0036</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
    				</div>
  				 </div>
 			</div>
		</div>
    </section>

</div>
<!-- End #main -->

<th:block th:include="/front/inc_footer"></th:block>
</body>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="/assets/js/front/slick.js"></script>
</html>
